<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bilbao Entreperneurship</title>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/util.js"></script>

</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <span th:replace="header :: copy"></span>
      </div>

      <span th:replace="menu :: copy"></span>

      <div class="jumbotron">

        <div class="row block-content">
          <div class="col-md-8">
            <h2 th:if="${editing}">Editar encuesta ID: <span id="id" th:text="${qset.id}">XX</span></h2>
            <h2 th:if="${not editing}">Nueva encuesta</h2>
          </div>
          <div class="col-md-4">
            <form th:if="${editing}" class="form-horizontal" action="deleteQuestionSet" method="POST">
              <input name="id" type="hidden" th:value="${qset.id}"/>
              <button type="submit" class="btn btn-danger pull-right">Borrar</button>
            </form>
          </div>
        </div>

        <hr>

        <h4 id="message" class="red" th:value="${message}"></h4>

        <input id="qtypes" type="hidden" th:value="${questiontypesjson}"/>

        <form id="questionSetForm" class="form-horizontal" method="POST">
          <input id="questionsetid" name="id" type="hidden" th:value="${qset.id}"/>
          <input id="editing" name="editing" type="hidden" th:value="${editing}"/>

          <div class="form-group">
            <label class="control-label col-sm-2">Título:</label>
            <div class="col-sm-6">
              <input id="title" name="title" class="form-control" type="text" th:value="${qset.title}"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Descripción:</label>
            <div class="col-sm-6">
              <input id="description" name="description" class="form-control" type="text" th:value="${qset.description}"/>
            </div>
          </div>

          <div class="form-group" th:if="${editing}">
            <label class="control-label col-sm-2">Modificación:</label>
            <div class="col-sm-4">
              <input id="timestamp" name="timestamp" class="form-control" type="text" th:value="${qset.timestamp}" disabled/>
            </div>
          </div>

          <input id="returnButton" type="button" onclick="location.href='listQuestionSets'" class="btn btn-info" value="Volver">
          <button id="saveButton" type="submit" class="btn btn-primary pull-right" disabled>Guardar</button>

          <hr>
          <input id="addQuestionButton" type="button" onclick="addQuestion();" class="btn btn-info" value="Nueva pregunta">
          <hr>

          <div class="form-group">
            <label class="control-label col-sm-1">Orden</label>
            <label class="control-label col-sm-5">Pregunta</label>
            <label class="control-label col-sm-4">Tipo</label>
            <label class="control-label col-sm-2">Eliminar</label>
          </div>

          <div th:each="question, iterStat : ${qset.questions}" th:id="|question-group-${iterStat.count}|" class="form-group">
            <input th:id="|question-id-${iterStat.count}|" th:name="|question-id-${iterStat.count}|" type="hidden" th:value="${question.id}"/>
            <div class="col-sm-1">
              <input th:id="|question-order-${iterStat.count}|" th:name="|question-order-${iterStat.count}|" class="form-control" type="text" th:value="${question.order}"/>
            </div>

            <div class="col-sm-5">
              <input th:id="|question-text-${iterStat.count}|" th:name="|question-text-${iterStat.count}|" class="form-control" type="text" th:value="${question.text}"/>
            </div>

            <div class="col-sm-4">
              <select th:id="|question-type-${iterStat.count}|" th:name="|question-type-${iterStat.count}|" class="form-control">
                <option th:each="qtype : ${questiontypes}" th:value="${qtype.id}" th:text="|${qtype.id} ${qtype.type} ${qtype.allowed}|" th:selected="${qtype.id == question.typeId}"></option>
              </select>
            </div>

            <div class="col-sm-2">
              <input th:id="|removeQuestion-${iterStat.count}|" th:onclick="|removeQuestion(${iterStat.count})|" type="button" class="btn btn-danger pull-right" value="-"/>
            </div>

          </div>

        </form>
      </div>

      <div th:replace="footer :: copy"></div>

    </div>

<script>
$("#questionSetForm input, #questionSetForm select").bind('input', function() {
  pendingChanges();
});

$("#questionSetForm").validate({
  rules: {
    title: {
      required: true
    },
    description: {
      required: true
    },
  },
  messages: {
    title: "Campo requerido",
    description: "Campo requerido"
  },
  submitHandler: function(form) {
    if (checkQuestions()) {
      var questionSet = {
        id: $("#questionsetid").val(),
        title: $("#title").val(),
        description: $("#description").val(),
        editing: $("#editing").val(),
        questions: []
      }

      $("[id^=question-group-]").each(function() {
        var question = {
            id: $(this).find("[id^=question-id-]").first().val(),
            order: parseInt($(this).find("[id^=question-order-]").first().val()),
            text: $(this).find("[id^=question-text-]").first().val(),
            type: parseInt($(this).find("[id^=question-type-]").first().val())
        }
        questionSet.questions.push(question);
      })

      $.ajax({
        type: "POST",
        url: "saveQuestionSet",
        data: JSON.stringify(questionSet),
        contentType: "application/json; charset=utf-8",
        success: function(data) {
          window.location ='listQuestionSets';
        },
        error: function(data) {
          errorMessage("Error. No se han podido guardar los datos")
        }
      });
    }
  }
});
</script>
</body>

</html>
