<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bilbao Entreperneurship</title>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/util.js"></script>

</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <span th:replace="header :: copy"></span>
      </div>

      <span th:replace="menu :: copy"></span>

      <div class="jumbotron">

        <div class="row block-content">
          <div class="col-md-8">
            <h2 th:if="${editing}">Tipo de pregunta ID: <span id="id" th:text="${qtype.id}">XX</span></h2>
            <h2 th:if="${not editing}">Nuevo tipo de pregunta</h2>
          </div>
          <div class="col-md-4">
            <form th:if="${editing}" class="form-horizontal" action="deleteQuestionType" method="POST">
              <input name="id" type="hidden" th:value="${qtype.id}">
              <button type="submit" class="btn btn-danger pull-right">Borrar</button>
            </form>
          </div>
        </div>

        <hr>

        <h4 id="message" class="red" th:value="${message}"></h4>

        <form id="questionTypeForm" action="saveQuestionType" class="form-horizontal" method="POST">
          <input id="id" name="id" type="hidden" th:value="${qtype.id}">
          <input id="editing" name="editing" type="hidden" th:value="${editing}">
          <div class="form-group">
            <label class="control-label col-sm-2">Tipo:</label>
            <div class="col-sm-4">
              <select id="type" name="type" class="form-control">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:selected="${type == qtype.type}">XX</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Valores permitidos:</label>
            <div class="col-sm-4">
              <input id="allowed" name="allowed" class="form-control" type="text" th:value="${qtype.allowed}">
            </div>
          </div>

          <input id="returnButton" type="button" onclick="location.href='listQuestionTypes'" class="btn btn-info" value="Volver">
          <button id="saveButton" type="submit" class="btn btn-primary pull-right" disabled>Guardar</button>
        </form>
      </div>

      <div th:replace="footer :: copy"></div>

    </div>

<script>
$("#questionTypeForm input, #questionTypeForm select").bind('input', function() {
  pendingChanges();
});

$("#questionTypeForm").validate({
  rules: {
    allowed: {
      required: true,
    }
  },
  messages: {
    allowed: "Campo requerido"
  }
});

$("#type").change(function() {
  if ($("#type").val() == 'FREE_TEXT') {
    $("#allowed").attr('disabled', true);
    $("#questionTypeForm").validate({});
  } else {
    $("#allowed").attr('disabled', false);
    $("#questionTypeForm").validate({
      rules: {
        allowed: {
          required: true,
        }
      },
      messages: {
        allowed: "Campo requerido"
      }
    });
  }
});
</script>
</body>

</html>
