<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <span th:fragment="copy">
    <br>
    <div style="display:inline;">
      <span class="h3 text-muted">BIG KLUBA</span>
      <span class="pull-right">
        <span th:text="${email}">aaaaaaa@a.com</span>
        <button type="button" class="btn btn-danger" onclick="location.href='logout'">Logout</button>
      </span>
    </div>
    <hr>
  </span>
</body>
</html>
