<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bilbao Entreperneurship</title>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <span th:replace="header :: copy"></span>
      </div>

      <span th:replace="menu :: copy"></span>

      <div class="jumbotron">

        <div class="row block-content">
          <div class="col-md-8">
            <h2>Encuestas</h2>
          </div>
          <div class="col-md-4">
            <form action="newQuestionSet" method="POST">
              <input id="addQuestionSet" type="submit" class="btn btn-primary pull-right" value="Nueva encuesta">
            </form>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table table-striped">
              <thead>
                <th class="text-center">Id</th>
                <th class="text-center">Título</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Timestamp</th>
                <th class="text-center">Preguntas</th>
                <th class="text-center">Respuestas</th>
                <th class="text-center">Editar</th>
              </thead>
            <tbody>
              <tr th:each="qset : ${questionsets}">
                <td class="text-center" th:text="${qset.id}"></td>
                <td class="text-center" th:text="${qset.title}"></td>
                <td class="text-center" th:text="${qset.description}"></td>
                <td class="text-center" th:text="${qset.timestamp}"></td>
                <td class="text-center" th:text="${qset.questions.size()}"></td>
                <td class="text-center">
                  <a th:href="|downloadCSV?id=${qset.id}|" th:text="${qset.numResponses}"></a>
                </td>
                <td class="text-center">
                  <a th:id="|editQuestionSet-${qset.id}|" th:onclick="|location.href='editQuestionSet?id=${qset.id}'|" href="#" class="btn btn-xs" th:if="${qset.numResponses == 0}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>

      <div th:replace="footer :: copy"></div>

    </div>

</body>

</html>
