<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bilbao Entreperneurship</title>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <span th:replace="header :: copy"></span>
      </div>

      <span th:replace="menu :: copy"></span>

      <div class="jumbotron">

        <div class="row block-content">
          <div class="col-md-8">
            <h2>Tipos de preguntas</h2>
          </div>
          <div class="col-md-4">
            <form action="newQuestionType" method="POST">
              <input id="addQuestionType" type="submit" class="btn btn-primary pull-right" value="Nuevo tipo">
            </form>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table table-striped">
              <thead>
                <th class="text-center">Id</th>
                <th class="text-center">Tipo de pregunta</th>
                <th class="text-center">Valores permitidos</th>
                <th class="text-center">Usos</th>
                <th class="text-center">Editar</th>
              </thead>
            <tbody>
              <tr th:each="qtype, iterStat : ${questiontypes}">
                <td class="text-center" th:text="${qtype.id}"></td>
                <td class="text-center" th:text="${qtype.type}"></td>
                <td class="text-center" th:text="${qtype.allowed}"></td>
                <td class="text-center" th:text="${usedby[iterStat.index]}"></td>
                <td class="text-center">
                  <a th:disabled="${usedby[iterStat.index] > 0}" th:id="|editQuestionType-${qtype.id}|" th:onclick="|location.href='editQuestionType?id=${qtype.id}'|" href="#" class="btn btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>

      <div th:replace="footer :: copy"></div>

    </div>

</body>

</html>
